@import '../../../style//var.scss';

.content-wrap {
  width: 100%;
  .title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .title {
    font-size: $font-size-sm;
    margin-bottom: 12px;
    font-weight: 600;
  }

  .chart-wrap {
    display: flex;
    align-items: center;
    .charts {
      flex: 1;
      height: 100%;
    }

    .righ-info {
      flex-shrink: 0;
      width: 140px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .info-item {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 12px;
        font-weight: 600;
        width: 100%;
        box-sizing: border-box;
        &:hover {
          background-color: $bg-color-hover;
        }
        .item-title {
          margin-bottom: 2px;
          font-size: $font-size-sm;
        }
        >span {
          font-size: $font-size-lg;
        }
      }
    }
  }

  .last-line {
    display: flex;
    justify-content: flex-end;
  }
}