// 常用样式
@import "./pm.scss";
// 规范化样式
@import "./normalize.scss";

.lj-v-flex {
  display: flex;
  flex-direction: column;
}

.lj-v-flex-row {
  display: flex;
  flex-direction: row;
}

.lj-flex-1 {
  flex: 1;
}

.lj-fa-center {
  align-items: center;
}

.lj-fj-center {
  justify-content: center;
}

.lj-text-1 {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}