//颜色
//Colors 通用 辅助字体颜色、背景颜色、border颜色
$black: #000 !default;
$white: #fff !default;
$disabled: #ececec !default;

//字体颜色
$font-color-grade-1: #333 !default;
$font-color-grade-2: #666 !default;
$font-color-grade-3: #999 !default;
$font-color-gray: #D7D7D7 !default;
$font-color-primary: #3F91F5 !default;
$font-color-danger: #a02725 !default;
$font-color-success: #3da200 !default;
$font-color-hover: #f9f9f9 !default;
$font-color-warning: #fbdc64 !default;
$font-color-placeholder: $font-color-gray !default;

//背景颜色
$bg-color-gray: #D3D3D3 !default;
$bg-color-primary: #3F91F5 !default;
$bg-color-danger: #ff4d4f !default;
$bg-color-success: #13ce66 !default;
$bg-color-hover: #f9f9f9 !default;
$bg-color-warning: #fbdc64 !default;

//border颜色
$bd-color-gray: #D3D3D3 !default;
$bd-color-primary: #3F91F5 !default;
$bd-color-danger: #a02725 !default;
$bd-color-success: #3da200 !default;
$bd-color-hover: #f9f9f9 !default;
$bd-color-warning: #fbdc64 !default;

// 渐变
$gradient-gray: linear-gradient(227deg, #D3D3D3 0%, #D3D3D3 100%) !default;
$gradient-primary: linear-gradient(227deg, #4e9af8 0%, #3F91F5 100%) !default;
$gradient-danger: linear-gradient(227deg, #fa6f72 0%, #ff4d4f 100%) !default;
$gradient-success: linear-gradient(227deg, #4fd38b 0%, #13ce66 100%) !default;
$bd-color-hover: linear-gradient(227deg, #c3bebe 0%, #f9f9f9 100%) !default;
$gradient-warning: linear-gradient(227deg, #fad879 0%, #fbdc64 100%) !default;

// Font 字体大小
$font-size-xs: 12px;
$font-size-xb: 13px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 22px;
$font-size-lb: 24px;

// Padding大小
$padding-base: 4px !default;
$padding-xs: $padding-base * 2 !default;
$padding-sm: $padding-base * 3 !default;
$padding-md: $padding-base * 4 !default;
$padding-lg: $padding-base * 6 !default;
$padding-xl: $padding-base * 8 !default;

// Animation
$animation-duration-base: 0.3s !default;
$animation-duration-fast: 0.2s !default;
$animation-timing-function-enter: ease-out !default;
$animation-timing-function-leave: ease-in !default;

// Border宽以及边角
$border-width-base: 1px !default;
$border-radius-sm: 2px !default;
$border-radius-md: 4px !default;
$border-radius-lg: 8px !default;
$border-radius-xl: 24px !default;
$border-radius-max: 999px !default;

// 风险等级颜色
$super-danger: #92302B !default; //严重
$high: #e76949 !default; //高危
$mid: #EE8F4F !default; //中危
$low: #F7DB77 !default; //低危
$unknown: #737189 !default; // 未评级
$safety: #8CB14A !default; //安全

// 风险等级颜色 带透明度
$super-danger-light:mix($super-danger, white, 10%);
$high-light: mix($high, white, 10%); //高危
$mid-light: mix($mid, white, 10%); //中危
$low-light: mix($low, white, 10%); //低危
$unknown-light: mix($unknown, white, 10%); // 未评级
$safety-light: mix($safety, white, 10%); //安全

:export {
  // 严重----安全颜色列表
  risk-color-list: ($super-danger, $high, $mid, $low, $unknown, $safety)
}

